body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
  
.box {
    padding: 5px;
    margin: 0 auto;
}

.icon-logo {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.list-input {
}

.bs-tooltip-top .arrow::before {
    border-top-color: red;
}
.tooltip-inner {
    background-color: red;
}

.tooltip.show {
    opacity: 1;
}